---
export interface Props {
    item: object;
}

const {item} = Astro.props;
---
<li>
    <a href={item.url} rel="noreferrer" target="_blank" class="relative block underline transition duration-300 ease-in-out group hover:text-blue-600">
        <span class="inline-block mr-2 text-xs text-gray-400 transition duration-300 ease-in-out md:mr-0 md:absolute md:-left-6 group-hover:text-gray-600 md:block">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5" />
                <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5" />
            </svg>
        </span>{item.title}
    </a>
</li>
